.container{
  margin: 30px;
}
.loader{
  margin-top: 40px;
  text-align: center;
}
.cat-info{
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
img{
  border-radius: 15%;
}

.is-hidden {
  display: none;
}

.box{
  margin-top: 20px;
}